
<div class=" h-fit flex  justify-center items-center pl-5 md:pl-0">

  <div class="w-[100%] h-96 mt-12">
    <owl-carousel-o [options]="options" >
      <ng-template carouselSlide *ngFor="let movie of movies; index as i"
      >
      <div class="w-[40%] ml-0 absolute md:h-[850px]"></div>
            <div class="  pt-2 w-screen  h- md:h-[850px] bg-white">

              <img class="w-48 md:h-[40rem] "
              [src]="'https://image.tmdb.org/t/p/original' + movie.backdrop_path"
              alt=""
            />
            <h1 class="text-black
            text-2xl
            md:text-4xl  text-center">{{ movie.original_title }}</h1>
            <h1 class="text-black
            text-2xl
            md:text-4xl  text-center">{{ movie.release_date }}</h1>
           <div class="h-36 overflow-auto "> <p class="text-black
            text-center text-xl">{{ movie.overview }}</p></div>
            <p class="text-black
            text-center text-xl  ">{{ movie.revenue }}</p>
            <p class="ml-48 md:ml-96">{{movie.vote_average | number:'1.0-0'}}</p>
            </div>
      </ng-template>
    </owl-carousel-o>
  </div>


</div>

<app-tranding></app-tranding>



